
@{
    ViewBag.Title = "Index";
}

<h2>This is Index</h2>
<p>This is an example of p tag</p>
<ul>
    <li>Id: @Model.Id</li>
    <li>Description: @Model.Description</li>   
    <li>Due Date: @Model.Description.ToString("") </li>
</ul>